APP_SECRET_KEY=change-me-to-a-long-random-secret
ITUNES_SEARCH_TERMS=pop hits,rock classics,hip hop,r&b,indie pop,taylor swift,the weeknd,drake,billie eilish,coldplay
ITUNES_COUNTRY=us
ITUNES_SEARCH_LIMIT=25
TRACK_CACHE_TTL_SECONDS=3600
SQLITE_PATH=./track_cache.db
